<div class="container">
  <div class="row">
    <div class="offset-2 col-8 mt-3">
      <div class="">
        <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "80x80", class:"icon" %>
        <%= @user.name %>
      </div>
      <div class="mt-3 info-box ">
        自己紹介
      </div>
      <div class="info-box mt-1">
        <p class="text-body"><%= @user.introduction %></p>
      </div>
      <% if @user.id == current_user.id %>
        <div class="text-right">
          <%= link_to '編集する', edit_user_path, class:"btn btn-outline-secondary", data: {"turbolinks" => false} %>
        </div>
      <% end %>
      <div class="row mb-4">
        <div class="col-4">
          フォロー数:
          <%= link_to @user.followings.count, user_followings_path(user_id: @user.id) %>
        </div>
        <div class="col-4">
          フォロワー数:
          <%= link_to @user.followers.count, user_followers_path(user_id: @user.id) %>
        </div>
      </div>
      <% if @user != current_user %>
        <% if current_user.following?(@user) %>
          <div><%= link_to "フォロー解除", user_relationships_path(user_id: @user.id), method: :delete %></div>
        <% else %>
          <div><%= link_to "フォローする", user_relationships_path(user_id: @user.id), method: :post %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>