<div class="container">
  <div class="row">
    <div class="side-menu col-12">
      <div class="mt-2 menu-user">
        <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "50x50", class:"icon" %>
        <%= @user.name %>
      </div>
      <ul class="mt-4">
        <li>
          <%= link_to "マイページ",user_path(@user), class:"far fa-user menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "カレンダー",diaries_path, class:"far fa-calendar-alt menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "日記を書く",new_diary_path, class:"far fa-edit menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "ペット登録",pet_path(@user.pets), class:"fas fa-feather menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "お気に入り",user_path(@user), class:"far fa-star menu-list",data: {"turbolinks" => false} %>
        </li>
      </ul>
    </div>
  </div>
</div>