<div class="container container-size">
  <div class="row">

    <div class="col-2 mt-4">
      <%= render 'users/diaries/menu' %>
    </div>

    <div class="offset-1 col-6 mt-4">
      <h1 style="text-align:center;">カレンダー</h1>
      <%= month_calendar events: @diaries do |date, diaries| %>
        <%= date.day %>

        <% diaries.each do |diary| %>
          <%= link_to diary_path(diary.id), class:"text-link" do %>
            <div class="mt-1">
              <%= attachment_image_tag diary, :diary_image, :fill, 1000, 1000, fallback: "no_image_square.jpg", size: "60x50" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-3 mt-4">
      <%= render 'layouts/right_menu' %>
    </div>
  </div>
</div>
