<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mb-4">回答件数：<%= @question.answers.count %></p>
      <% @question.answers.each do |answer| %>
        <div class="mt-3">
          <%= attachment_image_tag answer.user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "50x50", class:"icon" %>
          <%= answer.user.name%>
          <div class="ml-1 time"><%= answer.created_at.strftime('%Y/%m/%d') %></div>
          <div class="ml-1"><%= answer.answer_body %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>