<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="mb-4">回答件数：<%= @question.answers.count %></p>
      <% @question.answers.each do |answer| %>
        <div class="mt-5">
          <%= link_to user_path(answer.user), class:"text-link" do %>
            <%= attachment_image_tag answer.user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "40x40", class:"icon" %>
            <%= answer.user.name%>
          <% end %>
          <div class="ml-1 time"><%= answer.created_at.strftime('%Y/%m/%d') %></div>
          <div class="ml-1 text-body answer-body"><%= answer.answer_body %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>