<h2>ログイン</h2>

<%= form_with model: @user, url: user_session_path, local: true do |f| %>
  <div class="field">
    <label>メールアドレス</label><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <label>パスワード</label><br>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <label>次回から自動的にログイン</label>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h4>登録がお済みでない方</h4>
<div>
  <%= link_to "こちら", new_registration_path(resource_name), class:"ml-5" %>
  から新規登録を行って下さい。
</div>
