<div class="container">
  <div class="row">
    <div class="side-menu col-12">
      <div class="mt-2 menu-user">
        <%= attachment_image_tag @user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "50x50", class:"icon" %>
        <%= @user.name %>
      </div>
      <ul class="mt-4">
        <li>
          <%= link_to "マイページ",user_path(@user), class:"far fa-user menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "Ｑ＆Ａ一覧",questions_path, class:"far fa-comments menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "質問をする",new_question_path, class:"fas fa-question menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "過去に質問した一覧",user_path(@user), class:"far fa-clone menu-list",data: {"turbolinks" => false} %>
        </li>
        <li>
          <%= link_to "過去に回答した一覧",user_path(@user), class:"far fa-lightbulb menu-list",data: {"turbolinks" => false} %>
        </li>
      </ul>
    </div>
  </div>
</div>