<% @questions.each do |question| %>
  <div class ="container">
    <div class="row">
      <div class="offset-3 col-6">
        <div class="my-1">
          <%= link_to question_path(question.id), class:"text-dark" do %>
            <%= question.question_title %>
          <% end %>
        </div>
        <div>
          <div>
            <%= attachment_image_tag question.user, :image, :fill, 300, 300, fallback: "no_image_square.jpg", size: "60x60" %>
            <%= question.user.name %>
          </div>
          <div>
            <%= question.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
          </div>
          <div class="my-1">
            <%= question.question_body %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>