<div class="container container-size">
  <div class="row">
    <div class="col-2">
      <%= render 'users/questions/menu' %>
    </div>

    <div class="offset-1 col-6 mt-4">
      <h2 style="text-align:center;"><%= @question.question_title %>についての質問</h2>
      <%= form_with model: @question, local:true do |f| %>
        <div class="offset-2 mt-5">
          <%= render 'users/questions/question_form', f: f %>
        </div>
        <div class="offset-6 col-5 mt-4 text-right">
          <%= f.submit '更新', class:"btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>