<div class="container container-size">
  <div class="row">
    <!--左メニュー-->
    <div class="col-2 mt-4">
      <%= render 'users/questions/menu' %>
    </div>

    <!--質問投稿-->
    <div class="offset-1 col-6 mt-5">
      <h2 style="text-align:center;" class="title-text">質問投稿フォーム</h2>
      <%= render 'layouts/error_message', model: @question %>
      <%= form_with model: Question.new, local:true do |f| %>
        <div class="offset-2 mt-5">
          <%= render 'users/questions/question_form', f: f %>
        </div>
        <div class="offset-6 col-5 mt-4 text-right">
          <%= f.submit '投稿', class:"btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>

    <!--右メニュー-->
    <div class="col-3 mt-4">
      <%= render 'layouts/right_menu' %>
    </div>
  </div>
</div>