<div class="container container-size">
  <div class="row">
    <!--左メニュー-->
    <div class="col-2 mt-4">
      <%= render 'users/diaries/menu' %>
    </div>
    
    <!--ペットの編集-->
    <div class="offset-1 col-6 mt-4">
      <h3 class="mb-4" style="text-align:center;"><%= @pet.pet_name %>についての編集</h3>
      <%= render 'layouts/error_message', model: @pet %>
      <%= form_with model: @pet, url: pet_path, local: true do |f| %>
        <%= render 'users/pets/pet_form', f: f %>
        <div class="col-9 text-right">
          <%= f.submit '更新', class:"btn btn-outline-secondary" %>
          <%= link_to "削除", pet_path(@pet.id), method: :delete, class:"btn btn-outline-secondary", data: { confirm: "#{@pet.pet_name}を削除して大丈夫ですか？", "turbolinks" => false } %>
        </div>
      <% end %>
    </div>
    
    <!--右メニュー-->
    <div class="col-3 mt-4">
      <%= render 'layouts/right_menu' %>
    </div>
</div>