<div class="container container-size">
  <div class="row">

    <div class="col-2 mt-4">
      <%= render 'users/diaries/menu' %>
    </div>

    <div class="offset-1 col-6 mt-5">
      <div>
        <h1 style="text-align:center;" class="title-text">
          <%= @user.name %>さんのペット
          <i class="fas fa-feather"></i>
        </h1>
        <%= render 'users/pets/pet_table' %>
        <div class="kaminari"><%= paginate @pets %></div>
      </div>
      <div class="mt-5">
        <h2 style="text-align:center;">ペットを登録</h2>
        <%= render 'layouts/error_message', model: @pet %>
        <div>
          <%= form_with model: Pet.new, local:true do |f| %>
            <%= render 'users/pets/pet_form', f: f %>
            <div class="col-9 mt-4 text-right">
              <%= f.submit '登録', class:"btn btn-outline-secondary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-3 mt-4">
      <%= render 'layouts/right_menu' %>
    </div>
  </div>
</div>