<div class="container">
  <div class="row">

    <div class="col-2" style="text-align:center;">
      <h2>Menu</h2>
      <%= render 'diaries/menu' %>
    </div>

    <div class="offset-1 col-7">
      <div>
        <h2 style="text-align:center;"><%= @user.name %>さんのペット</h2>
        <%= render 'users/pets/pet_table' %>
      </div>

      <div class="mt-5">
        <h2 style="text-align:center;">ペットを登録</h2>
        <div>
          <%= form_with model: @pets, url: pets_path, local:true do |f| %>
            <%= render 'users/pets/pet_form', f: f %>
            <div class="mt-4 text-right">
              <%= f.submit '登録', class:"col-md-2 btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>