<!DOCTYPE html>
<html>
  <head>
    <title>どうぶつの村</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render 'layouts/header_user' %>
      <% elsif admin_signed_in? %>
        <%= render 'layouts/header_admin' %>
      <% else %>
        <%= render 'layouts/header_logout' %>
      <% end %>
    </header>

    <main>
      <div class="body-bg">
        <%= yield %>
      </div>
    </main>

    <footer class="p-3">
        <div class='row'>
          <div class='mx-auto'>
            <p class="mt-3">COPYRIGHT© 2021 どうぶつの村 ALL RIGHTS RESERVED.</p>
          </div>
        </div>
    </footer>
  </body>
</html>
