<div class="form-box" style="text-align:center;">
  <h1 class="mb-5">新規会員登録</h1>

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
    <%= render 'layouts/error_message', model: @user %>

    <div class="form-item mt-5">
      <p class="formLabel">ニックネーム</p>
      <%= f.text_field :name, autofocus: true, class:"text col-5" %>
    </div>

    <div class="form-item my-4">
      <p class="formLabel">メールアドレス</p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"text col-5" %>
    </div>

    <div class="form-item my-4">
      <p class="formLabel">パスワード
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %></p>
      <%= f.password_field :password, autocomplete: "new-password", class:"text col-5" %>
    </div>

    <div class="form-item mb-5">
      <p class="formLabel">パスワード(確認用)</p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"text col-5" %>
    </div>

    <div class="btn-top my-5">
      <%= f.submit "新規登録", class:"sign-in-text" %>
    </div>
  <% end %>

  <h4>すでに登録済みの方</h4>
  <div>
    <%= link_to "こちら", new_user_session_path, class:"device-text" %>
    からログインして下さい。
  </div>
</div>